[core]
    excludesfile = ~/.gitignore_global

[user]
    email = ben@bbrks.me
    name = Ben Brooks

[push]
    default = simple

[color]
    ui = true

[url "git@bitbucket.org:"]
    insteadOf = https://bitbucket.org/

[alias]
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all

