"*":
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      autoVisibility: true
    "atom-ide-outline-view": {}
  core:
    disabledPackages: [
      "linter"
      "linter-ui-default"
    ]
    projectHome: "/Users/benbrooks/dev"
    telemetryConsent: "no"
    themes: [
      "pristine-ui"
      "gruvbox-plus-syntax"
    ]
    titleBar: "custom-inset"
    useTreeSitterParsers: true
  editor:
    fontFamily: "Go Mono"
    fontSize: 11
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "af396c8e-06e0-47c0-b9b9-da098b8927a6"
  "go-debug":
    clearOutputOnStart: true
    configurationFile: [
      "~/.atom/go-debug.json"
    ]
    dlvPath: "/usr/local/bin/dlv"
    panelInitialVisible: true
  "go-plus":
    panel:
      displayMode: "closed"
    test:
      coverageHighlightMode: "covered-and-uncovered"
  "gruvbox-plus-syntax": {}
  "linter-ui-default":
    panelHeight: 300
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  "pristine-ui":
    fontSize: 11
  "spell-check":
    locales: [
      "en-US"
    ]
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
".go.source":
  editor:
    tabLength: 4
".gohtml.html.text":
  editor:
    tabLength: 4
".gotemplate.source":
  editor:
    tabLength: 4
